<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{% block title %}{{ SITENAME }}{% endblock %}</title>

		<link rel="profile" href="http://gmpg.org/xfn/11" />

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css">
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>

		<!-- Javascripts -->
		<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
		<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.fitvids.js"></script>
		<script type="text/javascript" src="{{ SITEURL }}/theme/js/theme.min.js"></script>

	    <!-- Open Graph tags -->
	    {% if USE_OPEN_GRAPH is not defined %}
	        {% set USE_OPEN_GRAPH = True %}
	    {% endif %}

	    {% if USE_OPEN_GRAPH %}
	        {% if OPEN_GRAPH_FB_APP_ID %}
	            <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
	        {% endif %}
	        {% if article %}
	            <meta property="og:type" content="article"/>
	            <meta property="og:title" content="{{ article.title }}"/>
	            <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
	            <meta property="og:description" content="{{ article.summary|striptags|e }}"/>
	        {% elif page %}
	            <meta property="og:type" content="article"/>
	            <meta property="og:title" content="{{ page.title }}"/>
	            <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
	        {% else %}
	            <meta property="og:type" content="website"/>
	            <meta property="og:title" content="{{ SITENAME }}"/>
	            <meta property="og:url" content="{{ SITEURL }}"/>
	            <meta property="og:description" content="{{ SITENAME }}"/>
            {% if OPEN_GRAPH_IMAGE %}
	            <meta property="og:image" content="{{ SITEURL }}/static/{{ OPEN_GRAPH_IMAGE }}"/>
	        {% endif %}
	        {% endif %}

	    {% endif %}

	    {% if FEED_ALL_ATOM %}
	        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
	              title="{{ SITENAME }} ATOM Feed"/>
	    {% endif %}
	    {% if FEED_ALL_RSS %}
	        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate"
	              title="{{ SITENAME }} RSS Feed"/>
	    {% endif %}

	    {% include 'includes/ga.html' %}
	</head>

	<body>

	<header id="masthead" class="site-header" role="banner">
		<div class="container">
			
			<div class="gravatar">
				{% if AUTHOR_GRAVATAR %}
					<img src="{{ AUTHOR_GRAVATAR }}" class="avatar avatar-100 photo" width="100" height="100">
				{% endif %}
			</div><!--/ author -->
			
			<div id="brand">
				<h1 class="site-title"><a href="{{ SITEURL }}" title="{{ SITENAME }}" rel="home">{{ SITENAME }}</a> &mdash; <span>{{ SITESUBTITLE }}</span></h1>
			</div><!-- /brand -->
		
			<nav role="navigation" class="site-navigation main-navigation">
				<div class="menu-main-nav-container">
					<ul class="menu">
	                {% for page in PAGES %}
	                    <li class="menu-item"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
	                {% endfor %}
	                </ul>
                </div>
			</nav><!-- .site-navigation .main-navigation -->
			
			<div class="clear"></div>
		</div><!--/container -->
			
	</header><!-- #masthead .site-header -->

	<div class="container">

		<div id="primary">
			<div id="content" role="main">

            {% block content %}
            {% endblock %}

			</div><!-- #content .site-content -->
		</div><!-- #primary .content-area -->

	</div><!-- / container-->

	<footer class="site-footer" role="contentinfo">
		<div class="site-info container">
			<a href="http://getpelican.com" title="A Static Site Generator, Powered by Python" rel="generator">Proudly powered by Pelican</a>
			<span class="sep"> and </span>
			<a href="https://github.com/shakie/pelican-less" rel="theme">LESS</a> theme based on the Wordpress theme by <a href="http://jarederickson.com" rel="designer">Jared Erickson</a>
		</div><!-- .site-info -->
	</footer><!-- #colophon .site-footer -->

	{% include 'includes/disqus_script.html' %}

	</body>
</html>
